{% extends "base.html" %}

{% block content %}

<h3>Habit Detail - {{habit}}</h3>
<h3>Owner - {{habit.owner}}</h3>

<p class=green>All Time Best - {{all_time_best.quantity}} {{habit.unit}} {{all_time_best.date}}</p>
<p>Average for the last {{DAYS}} day(s) - {{interval_average}} {{habit.unit}}</p>

{% for record in last_week_of_records %}
  <p>{{ record.date }} | 
  {% if record.quantity >= 0 %}
    {% if record.meets_goal %}
      <strong class="green">{{record.quantity}} | Great job! You met your goal!</strong>
    {% else %}
      <strong class="red">{{record.quantity}} | You did not meet your goal this day.  Keep working!</strong>
    {% endif %}

    {% if request.user == habit.owner %}
    <a href="{% url 'edit-daily-record' pk=record.pk %}?date={{record.date.year}}-{{record.date.month}}-{{record.date.day}}">Update</a></p>
    {% endif %}
    
  {% else %}
    No Record 
    {% if request.user == habit.owner %}
    | <a href="{% url 'create-daily-record' pk=habit.pk %}?date={{record.date.year}}-{{record.date.month}}-{{record.date.day}}">Add Now</a>
    {% endif %}
  {% endif %}
{% endfor %}

{% endblock %}