{% extends "base.html" %}

{% block content %}

<h3>Habit Detail - {{habit}}</h3>

{% for record in last_week_of_records %}
  <p>{{ record.date }} | 
  {% if record.quantity >= 0 %}
    {% if record.meets_goal %}
      <strong class="green">{{record.quantity}}</strong>
    {% else %}
      <strong class="red">{{record.quantity}}</strong>
    {% endif %}
    <a href="{% url 'edit-daily-record' pk=record.pk %}?date={{record.date.year}}-{{record.date.month}}-{{record.date.day}}">Update</a></p>
  {% else %}
    No Record | <a href="{% url 'create-daily-record' pk=habit.pk %}?date={{record.date.year}}-{{record.date.month}}-{{record.date.day}}">Add Now</a>
  {% endif %}
{% endfor %}




{% endblock %}