{% extends "base.html" %}

{% block content %}

<h3>Habit Detail - {{habit}}</h3>

{% for record in list_of_records %}
  
  <p>{{ record.date }} | {{ record.quantity }} | <a href="">Update</a></p>

{% endfor %}



{% if habit.last_update.meets_goal %}
      <strong class="green">{{habit.last_update.quantity}}</strong>
    {% else %}
      <strong class="red">{{habit.last_update.quantity}}</strong>
    {% endif %}

{% for day in last_week_dates %}
  <p>{{day.month}}-{{day.day}}-{{day.year}}</p>
{% endfor %}

{% for record in last_week_of_records %}
  <p>
    {% if record is None %}
      <a href="{% url 'create-daily-record' pk=habit.pk %}">Update</a>
    {% else %}
      {{record.quantity}}
    {% endif %}
  </p>
{% endfor %}



{% endblock %}