{% extends "base.html" %}

{% block content %}

<h1>Habit Manager - {{request.user}}</h1>
<strong><a href="{% url 'create-habit' pk=request.user.pk %}">Create New Habit</a></strong>
<h3>List of Habits<h3>
{% for habit in list_of_habits %}
  <a href="{% url 'habit-detail' pk=habit.pk %}">{{ habit }}</a> | 
  {% if habit.updated_today %}
    {% if habit.last_update.meets_goal %}
      <strong class="green">{{habit.last_update.quantity}} {{ habit.unit }} - <em> - Updated Today</em>
        | Great job! You met your goal!</strong>
    {% else %}
      <strong class="red">{{habit.last_update.quantity}} {{ habit.unit }} - <em> - Updated Today</em>
        | You did not meet your goal this day.  Keep working!</strong>
    {% endif %}
  {% else %}
    <a href="{% url 'create-daily-record' pk=habit.pk %}">Add today's value</a>
  {% endif %}
  | <a href='{% url "add-buddy" pk=habit.pk %}'>Add a Buddy</a>
  <br>
  {% if habit.yesterday_missing %}
  <p>Missing Yesterday</p>
  {% endif %}
{% endfor %}








{% endblock %}