{% extends "base.html" %}
{% block content %}
<title>Habit Tracker - Homepage</title>

<h1>Welcome to Habit Tracker</h1>

<img src='https://www.essentiallifeskills.net/image-files/xwgoodhabits.jpg.pagespeed.ic.rHN2LQQcjg.jpg' class='habit picture'>

<div><p>Our <em>Habit Tracker </em>is a simple tool that allows you to set goals for yourself and provides a way to measure whether or not you met your goal on a daily basis.  And the best part - it's all done digitally!
</p></div>

<div><p>Habit tracking is important for three reasons:
    <ol>
        <li>Creating a visual cue reminds you to act!</li>
        <li>Seeing your progress is a great motivator!  You're less likely to miss a day if it will bring your ongoing streak to an end.</li>
        <li>Recording your success in the moment can provide a feeling a satisfation that is in itself a reward.</li>
    </ol>
    </p>
</div>

<div><p>Please click on one of the links at the top of the page to get started.</p></div>






{% endblock %}