{% extends "base.html" %}
{% block content %}
<h1>Social - {{user}}</h1>
{% if habit_buddy_list %}
  <p>Be a good buddy:</p>
{% endif %}
{% for habit in habit_buddy_list %}
    <p><a href="{% url 'habit-detail' pk=habit.pk %}">{{habit}}</a>-{{habit.owner}}</p>
    <p>Last update: {{habit.last_update.date}} 
        {% if habit.last_update.meets_goal %}
            <strong class="green">qty: {{habit.last_update.quantity}} They met your goal!</strong>
          {% else %}
            <strong class="red">qty: {{habit.last_update.quantity}} They need some more encouragement!</strong>
          {% endif %}
    </p>
    <br>
{% endfor %}

{% endblock %}
